@*@model HADev.Delivery.Mvc.ViewComponents.Helpers.Modulo*@




<section class="content-header" style="color:#000000">
    <h1 style="margin-bottom:10px">
        @Model.Titulo / &nbsp;
        <span class="h4">@Model.Subtitulo</span>

    </h1>
    

    <ol class="breadcrumb">
        <li><a href="@Model.Estou"><i class="fa fa-dashboard"></i> @Model.Estou</a></li>
        @*<li style="color:#000"><a href="#">Forms</a></li>
            <li class="active" style="color:#000">Advanced Elements</li>*@
    </ol>
</section>

