@page
@model LoginModel

@{
    Layout = "";
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HADev | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/../../plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/" class="login-logo">
                <span class="logo-mini">
                    <img src="~/dist/img/Logo-HA.png" style="width:50%" />
                </span>
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <section>
                <form method="post">
                    <h4>Use uma conta local para fazer login .</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control glyphicon glyphicon-envelope" placeholder="Email" />

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control glyphicon glyphicon-lock" placeholder="Senha" />
                        <span asp-validation-for="Input.Password" class="text-danger glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />Lembrar Senha
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Eentrar</button>
                    </div>
                    <div class="form-group">
                        <p style="width:50%">
                            <a asp-page="./ForgotPassword">Esqueci a senha</a>
                            
                        </p>
                        <span style="align-items:end">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Não tenho cadastro </a>
                        </span>
                    </div>
                </form>
            </section>

            @*<div class="social-auth-links text-center">
                <p>- OU -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Entrar com
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Entrar com
                    Google+
                </a>
            </div>*@

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/../../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
