@{
    ViewData["Title"] = "Pagamento";
}
<h1>@ViewData["Title"]</h1>

<h1>Após o pagamento Iremos bloquear suas cotas e informa seu paga</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@
<br />

<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12">
        <img src="https://docs.google.com/uc?id=1uNSN8bDnltpyDWxsPWIaV31NwnA3bK-G" style="width:100%">
    </div>
    <br />
    <div class="col-md-4 col-sm-12  col-md-offset-4">
        <img src="https://docs.google.com/uc?id=14jvHrk__Vmc_xIXXAGQOXp0RuswvZv5B" style="width:100%">
    </div>
    <br /><br />
</div>