<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-danger">5</span>
        <vc:aniversariantes-dia-view-components></vc:aniversariantes-dia-view-components>

    </a>
</li>
<!-- Notifications: style can be found in dropdown.less -->
<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <vc:aniversariantes-mes></vc:aniversariantes-mes>

    </a>

</li>

