<div class="panel panel-info">
    @*Telefone*@
    <div class="col-md-6 col-xs-12 ">
        @*<vc:endereco-pessoa-view-components></vc:endereco-pessoa-view-components>*@
    </div>
    @*Email*@
    <div class="col-md-6 col-xs-12 ">
        <vc:telefone-pessoa-view-components></vc:telefone-pessoa-view-components>
    </div>
    @*Endereço*@
    <div class="col-md-12 ">
        <vc:email-pessoa-view-components></vc:email-pessoa-view-components>
    </div>
</div>